<footer>
  <div class="container2">

    <p class="copyright">Copyright &copy; Nano Paws / Website designed and developed by Sandra Marquez</p>
  </div>
</footer>
<!-- jaquery, main, bootstrap links -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
</body>

</html>