<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Link Bootstrap, Font Awesome, CSS, animate.css-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lusitana|Raleway" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href="/vendors/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel='stylesheet' type='text/css' href='/vendors/css/normalize.css'>

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">
  <link rel="stylesheet" type="text/css" href="/css/queries.css">
  <title>Nano Paws | Grooming Salon </title>
</head>

<body>
